.container-cards {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background: rgb(57, 139, 255);
    background: radial-gradient(
      circle,
      rgba(57, 139, 255, 0.8578781854538691) 0%,
      rgba(0, 23, 49, 1) 100%
    ); */
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  padding-bottom: 30px;
}

.card1 {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #001731;
  padding: 20px;
  color: #fff;
  border-radius: 20px;
}

.btn1 {
  background-color: #398bff;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
}

.card-title {
  margin-bottom: 10px;
}
